<% if current_user(session) %>
  <form action='/videos' method="POST">
    <label for="video_name">Name:</label>
    <input type="text" name="name" id="video_name"><br><br>
    <label for="video_category">Category:</label>
    <input type="text" name="category" id="video_category"><br><br>
    <input type="submit" value="submit">
  </form>
<% else %>
  <a class="button" href="/login">You must be loggged in to upload a video.</a>
<% end %>